@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply bg-white overflow-x-hidden relative;
}


.mySwiper .swiper-wrapper {
  @apply flex items-start;
}

.mySwiper .swiper-slide {
  @apply h-fit;
}

.mySwiper {
  @apply w-full rounded-md;
}


.fade-up-enter-active {
  transition: opacity 0.5s, transform 0.8s;
}

.fade-up-enter-active-large {
  transition: opacity 0.5s, transform 0.8s;
}

.fade-up-enter-from {
  opacity: 0;
  transform: translateX(-100%);
}

.fade-up-enter-to {
  opacity: 1;
  transform: translateX(0);
}


.custom-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.custom-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
}


.react-datepicker-wrapper {
  width: 100%;
}